.setting-block
	.setting-title Настройки
	.setting-form-wrapper
		form#form-setting(action="", method="GET")
			fieldset.setting-group_inputs
			fieldset.setting-group_inputs
			fieldset.setting-group_inputs
				label.setting-opacity-label(for="")
				.setting-opacity-range
				input.setting-input_hidden(type="hidden" id="")

			//- кнопки сброса и скачать
			fieldset.setting-group_inputs
				input.setting-btn.setting-btn_reset(type="reset", value="Сброс")
				input.setting-btn.setting-btn_download(type="button", value="Скачать")