.footer
  .footer__inner
    p.footer__copy &copy; 2014, Это мой сайт, пожалуйста, не копируйте и не воруйте его
// END .footer

<!-- build:js js/vendor.min.js -->
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery-ui/jquery-ui.js')
// Для Drag And Drop
script(src="bower/draggabilly/dist/draggabilly.pkgd.min.js")
// endbower
<!-- endbuild -->

<!-- build:js js/main.min.js -->
script(src="js/app.js")
script(src="../js/modules/myjqueryui.js")
<!-- endbuild -->