footer.page_footer
	.container
		p © 2015, Это мой сайт, пожалуйста, не копируйте и не воруйте его
<!-- build:js js/vendor.min.js -->
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/bootstrap/dist/js/bootstrap.js')
// endbower
<!-- endbuild -->

<!-- build:js js/main.min.js -->
script(src="js/main.js")
<!-- endbuild -->