.main
  h1.main__headline Генератор водяных знаков
    //START Drag and Drop
    //Див, контейнер для DAD, сюда же будет вставляться главное изображение
  .watermak
      //обертка для картинки, которая будет двигаться по экрану
      div.draggabilly
          //Сама картинка
          img.draggabilly__img(src="/img/icon_3.jpg")
       //END Drag and Drop
// END .main