.main
  h1.main__headline Генератор водяных знаков
  .watermak
      //START Drag and Drop
      //Див, контейнер для DAD, сюда же будет вставляться главное изображение
      div.dragg-field
          //Элемент(картинка) ,который будет перемещаться
          div.draggabilly
              img.draggabilly__img(src="/img/icon_3.jpg")
      //END Drag and Drop
      div.dragg-window__x
      div.dragg-window__y
// END .main