.options
  ul.options__lang
    li.options__lang-item.options__lang-item_rus
      a.options__lang-link(href="#") Рус
    li.options__lang-item.options__lang-item_eng
      a.options__lang-link(href="#") Eng
  .options__socials
    ul.options__socials-list
      li.options__socials-item.options__socials-item_fb
        a.options__socials-link(href="#") Facebook
      li.options__socials-item.options__socials-item_tw
        a.options__socials-link(href="#") Twitter
      li.options__socials-item.options__socials-item_vk
        a.options__socials-link(href="#") Вконтакте
    .options__social-item_hover Thumb Up!
// END .options