.sidebar
  h2.sidebar__headline Настройки
  form.form(method="/")

    //- Обёртка для настроек изображения ->
    .sidebar__wrap
      .sidebar__image-settings
        label(for="image")
          h3.sidebar__title Исходное изображение
        .form__field
          input.form__input.form__input_text(name="image_filename" type="text", placeholder="Image.jpg", readonly)
          input.form__input.form__input_file(id="image", name="image" type="file" accept="image/*,image/jpeg")
        label(for="watermark")
          h3.sidebar__title Водяной знак
        .form__field
          input.form__input.form__input_text(name="watermark_filename" type="text", placeholder="Image.png", readonly)
          input.form__input.form__input_file(id="watermark", name="watermark" type="file" accept="image/*,image/jpeg")

    //- Обёртка для настроек положения ->
    .sidebar__wrap
      .sidebar__position
        h3.sidebar__title Положение

        //- Обёртка для переключателя отображения настроек ->
        ul.sidebar__display
          li.sidebar__display-item.sidebar__display-item_view1.sidebar__display-item_active
            a.sidebar__display-link Вид 1
          li.sidebar__display-item.sidebar__display-item_view2 
            a.sidebar__display-link Вид 2

        //- Обёртка для отображения блока настроек Вида 1 ->
        .sidebar__position-item.clearfix

          //- Обёртка для квадрата ->
          .sidebar__position-square
            //- Квадрат ->
            .square.clearfix
              //- 9 ячеек ->
              .square__item
              .square__item
              .square__item
              .square__item
              .square__item
              .square__item
              .square__item
              .square__item
              .square__item

          //- Обёртка для настроек ->
          .sidebar__position-switch
            .switch
              label.switch__label(for="x") X
              input.form__input.sidebar__position-val(id="x", type="text", value="0", name="x_pos_val")
              //- span.switch__btn.switch__btn_up
              //- span.switch__btn.switch__btn_down
            .switch
              label.switch__label(for="y") Y
              input.form__input.sidebar__position-val(id="y", type="text", value="0", name="y_pos_val")
              //- span.switch__btn.switch__btn_up
              //- span.switch__btn.switch__btn_down
        //- Обёртка для отображения блока настроек Вида 2 ->
        .sidebar__position-item.clearfix.sidebar__position-item_active

          //- Обёртка для квадрата ->
          .sidebar__position-square
            //- Квадрат ->
            .square
              //- 9 ячеек ->
              .square__item
              .square__item
              .square__item
              .square__item
              .square__item
              .square__item
              .square__item
              .square__item
              .square__item

          //- Обёртка для настроек ->
          .sidebar__position-switch
            .switch
              label.switch__label(for="up-down") &updownarrow;
              input.form__input.sidebar__position-val(id="up-down", type="text", name="up-down_val", value="0")
              span.switch__btn.switch__btn_up
              span.switch__btn.switch__btn_down
            .switch
              label.switch__label(for="left-right") &harr;
              input.form__input.sidebar__position-val(id="left-right", type="text", name="left-right_val", value="0")
              span.switch__btn.switch__btn_up
              span.switch__btn.switch__btn_down

    //- Обёртка для настроек прозрачности ->
    .sidebar__wrap
      .sidebar__opacity
        h3.sidebar__title Прозрачность

        //- Слайдер для прозрачности ->
        .sidebar__opacity-slider
        input.sidebar__opacity-value(type="text", readonly, name="slider_val" hidden)

    //- Обёртка для кнопок ->
    .sidebar__btns.clearfix
      input.form__btn.form__btn_reset(type="reset", value="Сброс")
      input.form__btn.form__btn_download(type="submit", value="Скачать")
// END .sidebar