html, body, .wrapper {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.main-content {
  height: 100%;
  width: 60%;
  margin: 0 auto;
}
.dragg-field {
  height: 600px;
  width: 600px;
  background: gray;
}
.draggabilly {
  display: inline-block;
}
.draggabilly__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.dragg-window__x, div.dragg-window__y, .dragg-slider__window{
  height: 40px;
  width: 40px;
  background: #ffff00;
}
// Классы для стилизации DAD из коробки, может пригодится верстальщикам
// Стили при зажатии клавиши мыши на нём
.draggabilly.is-pointer-down {
  opacity: 0.5;
}
// Стили при передвижении элемента.
.draggabilly.is-dragging {
  border: 3px solid red;
}
// Стили для ползунка
.dragg-slider {
  height: 40px;
  width: 200px;
  background: #dcdcdc;
  margin-bottom: 30px;
}
.dragg-slider__slide {
  height: 40px;
  width: 40px;
  background: red;
  display: inline-block;
}
