
// блок с иконками
.options {
	position: absolute;
	left: 0;
	top: 100px;
}
// блок с переключателями языка
.options__lang,
.options__socials-list {
	margin: 0;
	margin-bottom: 18px;
	padding: 0;
	list-style: none;
}
//  
.options__lang-item {
	width: 43px;
	height: 33px;
	margin: 0;
	border-top: 2px solid #a5a7ac;

	&:first-child{
		border-top: none;
	}
}
// ссылки переключатели языка
.options__lang-link{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	color: #8e9298;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	background-color: rgba(241, 241, 245, 0.7);

	&:hover{
		color: #444a53;
	}
}


//  блок с соц.иконками
.options__socials {
	@extend .clearfix;
}
.options__socials-list {
	margin-bottom: 0;
	display: block;
	float: left;
}

//  соц.иконки
@mixin spriteicon( $left, $top) {
	background-color: rgba(241, 241, 245, 0.7);
  background-image: url(../img/icon-socmedia.png);
  background-repeat: no-repeat;
  background-position: $left $top;
  width: 43px;
  height: 41px;
}
.options__socials-item {
	@include spriteicon(0, 0);
	margin: 0;
	border: none;
}

.options__socials-item_fb {
  @include spriteicon(0, -160px);
 }

.options__socials-item_fb:hover {
  @include spriteicon(0, -240px);
 }

 .options__socials-item_tw { 
  @include spriteicon(0, -320px);
}

.options__socials-item_tw:hover {
  @include spriteicon(0, -400px);
 }

.options__socials-item_vk { 
  @include spriteicon(0, -480px);
}

.options__socials-item_vk:hover { 
  @include spriteicon(0, -560px);
 }

// ссылки соц.иконок 
.options__socials-link {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
}

//  Thumb Up
.options__social-item_hover {
	float: left;
	display: block;
	width: 43px;
	height: 41px;
	font-size: 0;
	@include spriteicon(0, 0);
	&:hover {
		@include spriteicon(2px, -80px);
	}
}
