html {
	position: relative;
	min-height: 100%;
}
body {
	min-height: 100%;
	background-image: url('../img/background.jpg');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 50px;
}

.wrapper {
	min-width: 1024px;
}

.footer {
	width: 100%;
	min-width: 1024px;
	position: absolute;
	bottom: 0;
	height: 50px;
	&_inner {
		width: 1024px;
		margin: 0 auto;
		vertical-align: middle;
	}
	&__copy {
		font-family: 'fira_sanslight';
		font-size: 12px;
		color: #ffffff;
		text-align: center;
	}
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}


.container {
	@extend .clearfix;
	width: 962px;
	margin: 60px auto 70px;
}

.main {
	width: 700px;
	height: 670px;
	float: left;
	background: #6b6764;
	opacity: 0.64;
	box-shadow: -5px 1px 8px 0px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: -5px 1px 8px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: -5px 1px 8px 0px rgba(0, 0, 0, 0.35);
	-o-box-shadow: -5px 1px 8px 0px rgba(0, 0, 0, 0.35);

	
	&__headline {
		margin-top: 15px;
		margin-left: 25px;
		margin-bottom: 54px;
		font-family: 'SegoeUILight';
		font-size: 36px;
		color: #ffffff;
	}
}

.watermak {
    position: relative;
	width: 650px;
	height: 534px;
	margin: 0 auto 25px;
	background: #ffffff;
}
.draggabilly {
  display: inline-block;
}
.draggabilly__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
// Классы для стилизации DragAndDrop из коробки, может пригодится верстальщикам
// Стили при зажатии клавиши мыши на нём
.draggabilly.is-pointer-down {

}
// Стили при передвижении элемента.
.draggabilly.is-dragging {

}