//  соц.иконки
@mixin spriteicon( $left, $top) {
	background-color: rgba(241, 241, 245, 0.7);
	background-image: url(../img/icon-socmedia.png);
	background-repeat: no-repeat;
	background-position: $left $top;
	width: 43px;
	height: 41px;
}


// блок с иконками
.options {
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 10;
	// блок с переключателями языка
	&__lang,
	&__socials-list {
		margin: 0;
		margin-bottom: 18px;
		padding: 0;
		list-style: none;
	}
	//  
	&__lang-item {
		width: 43px;
		height: 33px;
		margin: 0;
		border-top: 2px solid #a5a7ac;

		&:first-child{
			border-top: none;
		}
	}
	// ссылки переключатели языка
	&__lang-link{
		display: block;
		width: 100%;
		height: 100%;
		font-family: 'SegoeUILight';
		font-size: 20px;
		line-height: 33px;
		color: #8e9298;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		vertical-align: middle;
		background-color: rgba(241, 241, 245, 0.7);

		&:hover{
			color: #444a53;
		}
	}


	//  блок с соц.иконками
	&__socials {
		@extend .clearfix;
	}
	&__socials-list {
		margin-bottom: 0;
		display: block;
		float: left;
	}


	&__socials-item {
		@include spriteicon(0, 0);
		margin: 0;
		border: none;

		&_fb {
			@include spriteicon(0, -160px);
			&:hover {
				@include spriteicon(0, -240px);
		 	}
		}

		&_tw { 
			@include spriteicon(0, -320px);
			&:hover {
				@include spriteicon(0, -400px);
		 	}
		}


		&_vk { 
			@include spriteicon(0, -480px);
			&:hover { 
				@include spriteicon(0, -560px);
		 	}
		}
	}

	// ссылки соц.иконок 
	&__socials-link {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 0;
	}

	//  Thumb Up
	&__social-item_hover {
		float: left;
		display: block;
		width: 43px;
		height: 41px;
		font-size: 0;
		@include spriteicon(0, 0);
		&:hover {
			@include spriteicon(2px, -80px);
		}
	}
}
