.ui-slider {
	border-radius: 3px;
	background-color: #dbe1e8;
	height: 3px;
	width: 215px;
	position: relative;
	&:focus {
		outline: none;
	}
	&-range {
		background: #9eb2c0;
		position: absolute;
		height: 3px;
		left: 0;
		border-radius: 3px;
	}
	&-handle {
		position: absolute;
		width: 8px;
		height: 8px;
		top: -10px;
		border-radius: 50%;
		border: 7px solid #dbe1e8;
		box-shadow: 0 1px 1px #aeaeb1;
		background-color: #9eb2c0;
		// background-image: url("../img/slider_handle_sprite.png");
		// background-position: 0 0;
		// background-repeat: no-repeat;
		cursor: pointer;
		outline: none;
		
		&.ui-state-hover {
			background-color: #f97e76;
		}
	}
}