
.form {
	&__btn {
		border-radius: 4px;
		color: #f1f1f5;
		font: 18px "robotomedium";
		border: none;
		padding: 9px 0;
		width: 100px;
		outline: none;
		&_reset {
			float: left;
			background: #c1cfd9;
			&:hover {
				padding: 7px 0 8px;
				border-top: 2px solid #a6b2bb;
				border-left: 1px solid #a6b2bb;
				border-right: 1px solid #a6b2bb;
				border-bottom: 1px solid #a6b2bb;

				background: #aebbc5; /* Old browsers */
				background: -moz-linear-gradient(top,  #aebbc5 0%, #c0ced9 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aebbc5), color-stop(100%,#c0ced9)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #aebbc5 0%,#c0ced9 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #aebbc5 0%,#c0ced9 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #aebbc5 0%,#c0ced9 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #aebbc5 0%,#c0ced9 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebbc5', endColorstr='#c0ced9',GradientType=0 ); /* IE6-9 */
			}
		}
		&_download {
			float: right;
			background: #f97e76;
			&:hover {
				padding: 7px 0 8px;
				border-top: 2px solid #e3736c;
				border-left: 1px solid #e3736c;
				border-right: 1px solid #e3736c;
				border-bottom: 1px solid #e3736c;

				background: #ed7971; /* Old browsers */
				background: -moz-linear-gradient(top,  #ed7971 1%, #f97e76 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ed7971), color-stop(100%,#f97e76)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #ed7971 1%,#f97e76 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #ed7971 1%,#f97e76 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #ed7971 1%,#f97e76 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #ed7971 1%,#f97e76 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7971', endColorstr='#f97e76',GradientType=0 ); /* IE6-9 */
			}
		}
	}
}