
// настройки позиции
.sidebar__position {
	position: relative;
}
.sidebar__position .sidebar__title {
	margin-bottom: 40px;
}
.sidebar__display {
	@extend .clearfix;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	margin: 0;
	padding: 0;
	list-style: none;
}
@mixin btn-display($left, $top) {
  background-image: url(../img/btn-display.png);
  background-repeat: no-repeat;
  background-position: $left $top;
  height: 19px;
  width: 19px;
}

// .ico_oneoff_êîïèÿ 
//   @include spritebox(-40px, -0px, 19px, 19px)

// .ico_oneon 
//   @include spritebox(-80px, -0px, 19px, 19px)

// .ico_oneoff 
//   @include spritebox(-0px, -0px, 19px, 19px)

// .ico_tileoff_êîïèÿ 
//   @include spritebox(-160px, -0px, 19px, 19px)

// .ico_tileoff 
//   @include spritebox(-120px, -0px, 19px, 19px)

// .ico_tileon 
//   @include spritebox(-200px, -0px, 19px, 19px)
.sidebar__display-item{
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	// @include btn-display(0, 0);
	&:first-child{
		margin-left: 0;

	}
}
.sidebar__display-item_view1 {
	display: block;
	@include btn-display(0, 0);

	&:hover{
		@include btn-display(-40px, 0);
	}
}
.sidebar__display-item_view2 {
	display: block;
	@include btn-display(-120px, 0);

	&:hover{
		@include btn-display(-160px, 0);
	}
}
.sidebar__display-link {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
}

.sidebar__position-item {
	@extend .clearfix;
	display: none;
}
.sidebar__position-item_active {
	display: block;
}
.sidebar__position-square {
	float: left;
}
.square {
	@extend .clearfix;
	width: 103px;
	border: 1px solid #9eb2c0;
	border-right: none;
	border-bottom: none;
}

.square__item {
	border-right: 1px solid #9eb2c0;
	border-bottom: 1px solid #9eb2c0;
	float: left;
	width: 33px;
	height: 33px;
	&:hover {
		background: #f97e76;
	}
}
.sidebar__position-switch {
	float: right;
}
.switch {
	@extend .clearfix;
	width: 110px;
	height: 46px;
	margin-bottom: 12px;
}

// стиль лабела у переключателей позиции
.switch__label {
	display: block;
	float: left;
	width: 39px;
	height: 46px;
	margin-right: 5px;
	text-align: right;
}
// эти стили переопределяем у плагина

@mixin switch($right, $top) {
  background-image: url(../img/switches.png);
  background-repeat: no-repeat;
  background-position: $right $top;
}
// обертка инпута и кнопок
.ui-spinner {
	position: relative;
	width: 66px;
	height: 46px;
	float: right;
}

// стиль самого инпута значений
.ui-spinner-input {
	width: 46px;
	padding: 8px 0;
	font-size: 24px;
	color: #444a53;
	text-align: center;
	border-radius: 4px;
	background: none;
	border: 1px solid #9eb2c0;
	&:focus{
		outline: none;
	}
}
// кнопки больше и меньше
.ui-spinner-button {
	width: 20px;
	height: 22px;
}
// кнопка больше
.ui-spinner-up {
	position: absolute;
	top: 0;
	@include switch(right, 7px);
	&:hover {
		@include switch(right, -35px);
	}
}

.ui-spinner-down {
	position: absolute;
	bottom: 0;
	@include switch(right, -73px);
		&:hover {
		@include switch(right, -113px);
	}
}
.ui-icon {
	display: none;
}