.sidebar {
	background: #f1f1f5;
	float: right;
	padding: 0px 0 15px 0;
	width: 260px;
	&__headline {
		color: #2e3641;
		font-size: 26px;
		font-family: 'robotolight';
		text-align: center;
		margin-bottom: 29px;
	}
	&__wrap {
		position: relative;
		margin: 0;
		&:after {
			content: "";
			display: block;
			background: url("../img/sidebar_item_arrow.jpg") no-repeat center 0;
			height: 10px;
			position: absolute;
			top: -1px;
		}
	}
	&__title {
		color: #2e3641;
		font-size: 14px;
		font-family: 'robotolight';
		margin-bottom: 8px;
	}
	&__image-settings {
		border-bottom: 1px solid #f4c3c2;
		padding: 0 20px 26px 20px;
	}
	&__display {
		display: none;
	}
	&__position {
		border-bottom: 1px solid #f4c3c2;
		padding: 0px 20px 21px 20px;
		&-square {
			float: left;
		}
		&-switch {
			float: right;
			width: 84px;
		}
		&-item {
			margin-top: 35px;
			&:nth-child(2n) {
				display: none;
			}
		}
		&-val {
			background: transparent;
			border-radius: 4px;
			font-size: 24px;
			text-align: center;
			border: 1px solid #9eb2c0;
			height: 44px;
			width: 44px;
		}
	}
	&__opacity {
		border-bottom: 1px solid #f4c3c2;
		padding: 0 20px 26px 20px;
		&-slider {
			margin: 28px 0 8px 0;
		}
	}
	&__btns {
		padding: 55px 10px 10px 10px;
	}
}

// стили настроек позиции
@import "sidebar__image-settings.scss";

// стили настроек позиции
@import "sidebar__position.scss";

// стили ползунка прозрачности
@import "sidebar__opacity.scss";

// стили кнопок сброс и скачать
@import "sidebar__btns.scss";