doctype html
html
    head
        meta(charset="UTF-8")
        link(rel='stylesheet' href="css/app.css")
    body
        div.wrapper
            div.main-content
                div.dragg-field
                    div.draggabilly
                        img.draggabilly__img(src="/img/icon_3.jpg")
                div.dragg-window__x
                div.dragg-window__y
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script.
            window.jQuery || document.write('<script src="/app/bower/jquery/jquery.min.js"><\/script>');
        script(src="bower/draggabilly/dist/draggabilly.pkgd.min.js")
        script(src="js/app.js")